
<template name="App">
  <div class="app__wrapper">
    <div class="rooms">
      <a href="/" class="rooms__title">Petricide 2.0</a>
      <p class="home__subtitle rooms__subtitle">
        SURVIVAL OF THE FITTEST
      </p>
      <p>
        <select id="colors" name="colors">
          {{#each getColors}}
            {{#if randomSelect class}}
              <option selected="selected" value="{{class}}">{{label}}</option>
            {{else}}
              <option value="{{class}}">{{label}}</option>
            {{/if}}
          {{/each}}
        </select>
      </p>
      <form class="create_or_join">
        <input type="text" id="room__input" class="room__input" placeholder="Create or join a game"/>
      </form>

      <ul class="rooms__list">
        <li class="rooms__list__item rooms__list__joinable {{selectedClass 'lobby'}}">Lobby</li>
        <li class="rooms__list__item rooms__list__separator">Your Games:</li>
        {{#each rooms}}
          <li class="rooms__list__item rooms__list__joinable {{selectedClass name}}">
            <span class="rooms__name">{{name}}</span>
            <span class="rooms__list__item__leave">
              Leave
            </span>
          </li>
        {{/each}}
      </ul>
    </div>
    {{> lobby}}
  </div>
</template>
