<template name="game">
  {{#unless loading}}
    <div class="gamewindow">
      <h1>{{roomName}}</h1>
      <h2>{{nick}} vs {{opponent}}</h2>
      <div class=game>
        {{#each grid}}
          <div class="rowRow" id="{{rowID}}">
            {{#each cells}}
              <div class="rowCell" data-row="{{../rowID}}" data-position="{{cellID}}">
                &nbsp;
              </div>
            {{/each}}
            <div class="clearfix"></div>
          </div>
        {{/each}}
      </div>
    </div>
    {{> gameStats}}
  {{else}}
      <h1>LOADING</h1>
  {{/unless}}
</template>
